NODE_ENV=development
PORT=3002
DATABASE_URL=postgresql://pcc_development:replace-with-a-local-development-password@localhost:5433/pcc_development
PUBLIC_API_URL=http://localhost:3002/api/v1
MEDIA_STORAGE_PATH=.media
